/* table///////////////////////////// */
.table-btn {
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
  /* border: 2px solid yellow; */
}

/* home button/////////// */
.table-btn button,
.table-form input {
  color: white;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.422);
  border-radius: 6px;
  width: 70px;
}

.table-form input {
  width: 65px;
}
.table-btn button a {
  color: white;
  text-decoration: none;
}
.table-btn a:hover {
  color: rgb(192, 191, 191);
  text-decoration: underline;
  font-weight: bold;
}

/* search bar form///////////////////////////////// */

/* */
.table-form input::placeholder {
  color: rgb(188, 185, 185);
}

.pages span a button {
  border: 1px solid black;
  padding: 2px 4px;
  /* margin-top: 10px; */
  /* background-color: rgba(0, 0, 0, 0.422); */
}

.page-number {
  font-size: 16px;
  /* border: 2px solid black; */
  width: 100%;
  margin: auto;
  margin-top: -16px;
  /* float: right; */
}

#list-details {
  padding: 0 10px;
}

table {
  /* margin: 0; */
  border: 2px solid black;
  /* background-color: rgba(0, 0, 0, 0.422); */
  /* margin: 1rem; */
  /* width: 95%; */
  padding: 0;
  margin: 1rem auto;
  width: 100%;

  /* overflow-y: auto; */
}
th,
td {
  border: 1px solid black;
  padding: 5px 10px;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .table {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .page-number {
    width: 80%;
  }
}
